<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test" status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="CONSOLE" />
		</Root>
		<logger name="life.genny" level="TRACE" />
		<logger
			name="com.hazelcast.nio.serialization.HazelcastSerializationException"
			level="ERROR" />
		<logger name="com.hazelcast.internal.diagnostics.HealthMonitor"
			level="ERROR" />

	</Loggers>

</Configuration>