<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="Log4jTest" packages="">
	<Properties>
		<Property name="filename">test.log</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}; - (%F:%L) - %m%n" />
		</Console>


	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>
		<Logger name="com.hazelcast.internal.diagnostics.HealthMonitor"
			level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger
			name="com.hazelcast.nio.serialization.HazelcastSerializationException"
			level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger name="life.genny" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		
		<Logger
			name="com.hazelcast.client.spi.impl.ClientMembershipListener"
			level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		
		<Logger
			name="com.hazelcast.spi.impl.operationservice.impl.Invocation"
			level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>


	</Loggers>
</Configuration>
