<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p [%t] - %d{yyyy-MM-dd HH:mm:ss.SSS}; - (%F:%L) - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    
    <logger category="com.hazelcast.nio.serialization.HazelcastSerializationException">
    		<level name="ERROR"/>
    </logger>
	
	   <logger category="com.hazelcast.internal.diagnostics.HealthMonitor">
    	<level name="ERROR"/>
    </logger>
    
    <logger name="io.netty.handler.codec.http.websocketx.WebSocket08FrameDecoder" level="WARN"/>
    <logger name="com.hazelcast.internal.diagnostics.HealthMonitor" level="ERROR" />
    <logger name="com.hazelcast.client.spi.impl.ClientMembershipListener" level="ERROR" />
    <logger name="com.hazelcast.internal.diagnostics" level="SEVERE"/>
    <logger name="com.hazelcast.spi.impl.operationservice.impl.Invocation" level="SEVERE" />
</configuration>

